@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito:wght@400;600;700&family=Roboto:wght@300;400&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.form_group label {
    width: 30%;
    text-align: left;
}

.form_group {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 10px auto;
    align-items: center;
    min-width: 630px;
}

.form_group input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.form_group #button {
    border: 0;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    margin: 20px 0;
}
.form_group #button:hover{
    cursor: pointer;
    background-color: #aaa;
    color: #000;
}
body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0;
}
.content {
    margin-top: 50px;
    font-family: Nunito;
}


@media only screen and (max-width: 767px){
    .form_group {
        min-width: 400px;
    }
}
@media only screen and (max-width: 480px){
    .form_group {
        min-width: unset;
        width: 80%;
    }
}